

   * {
     background-color:#003357;
   }

  h1 {
    text-align: center;
    color:#dbdbdc;
    border-radius: 30px;
    font-size: 80px;
    letter-spacing: 11px;
    margin-top: 1em;
    font-family: 'Fredoka One', cursive;
  }

  main {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  input[type=text] {
    width: 280px;
    background-color: white;
    height: 25px; 
    font-size: 16px; 
    margin: 0px 30px 10px 30px;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 6px;
  }

  textarea {
    width: 280px;
    background-color: white;
    border: none;
    height: 160px;
    padding: 15px;
    border: none;
    outline: none;
    margin: 0px 30px 10px 30px;
    font-size: 16px;
    resize: none;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
  }

  input[type=submit] {
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    height: 50px;  
    border-radius: 4px;
    letter-spacing: 4px;
    color: white;
    background:#ff6b6b;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 42px;
  }

  input[type=submit]:hover {
    background:#24799e;
  }

  .displayList {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: nowrap;
    width: 320px;
    background-color:white; 
    border-radius: 6px;
    overflow: auto;
    height: 400px;
    margin: 0px 30px;
    padding-top: 15px;
    overflow-y: scroll;
    overflow-x: hidden;

  }

  .renderedLi{
    font-family: 'Open Sans', sans-serif;
    background-color: white; 
    width: 85%;
    margin-left: auto; 
    margin-right: auto; 
    list-style-type: none;
    cursor: pointer;
  }

  .renderedLi > p:nth-of-type(1){
    background-color: white; 
        font-size: 22px;
        font-weight: bold;
        line-height: 0;
        text-align: right;
        color: #ff6b6b;
        margin-top: 25px;
        cursor: pointer;
  }


  .renderedLi > p:nth-of-type(2){
    background-color: white; 
        font-size: 16px;
        font-weight: bold;
        line-height: 0;
  }

  .renderedLi > p:nth-of-type(3){
    background-color: white; 
        font-size: 16px;
  }

  .renderedLi > div {
    display: flex; 
    background-color: white;
    justify-content: flex-end;
    align-items: baseline;
  }

    .renderedLi > div > p:nth-of-type(1){
    background-color: white; 
    color: gray;
    font-size: 12px;
    font-style: italic;
    line-height: 0;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 15px;
  }

  .renderedLi > div > p:nth-of-type(2){
    background-color: white; 
    font-size: 18px;
    line-height: 0;
    text-align: right;
    padding-bottom: 10px;
  }

  .renderedLi > hr{
    color:#dbdbdc;
  }

