

   * {
     background-color:#003357;
   }

  h1 {
    text-align: center;
    color: #ebebec;
    border-radius: 30px;
    font-size: 80px;
    letter-spacing: 11px;
    margin-top: 1em;
    font-family: 'Fredoka One', cursive;
  }

  main {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
  }

  .inputName {
    width: 250px;
    background-color: white;
    height: 33px; 
    font-size: 16px; 
    margin: 0px 30px 10px 30px;
    padding: 15px;
    border-radius: 6px;
    border: none; 
    outline: none; 
  }

  ::placeholder{
    font-style: italic;
  }

  textarea {
    width: 250px;
    background-color: white;
    border: none;
    height: 160px;
    padding: 15px;
    border: none;
    outline: none;
    margin: 0px 30px 10px 30px;
    font-size: 16px;
    resize: none;
    border-radius: 6px;
    font-family: 'Open Sans', sans-serif;
  }

  input[type=submit] {
    font-size: 22px;
    font-weight: bold;
    width: 150px;
    height: 50px;  
    border-radius: 4px;
    letter-spacing: 4px;
    color: white;
    background:#ff6b6b;
    cursor: pointer;
    border: none;
    outline: none;
    margin-top: 30px;
    margin-bottom: 42px;
  }

  input[type=submit]:hover {
    background:#24799e;
  }

  .displayListWrapper{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 350px;
    background-color: #fce3e3; 
    border-radius: 6px;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .search {
    width: 250px;
    padding: 8px 0px 8px 40px; 
    align-items: left; 
    background-color: white; 
    background-image: url(img/search.svg);
    background-position: 10px;
    background-repeat: no-repeat;
    border: none; 
    border-radius: 16px;
    margin-top: 15px;
    margin-bottom: 15px; 
    margin-left: auto; 
    margin-right: auto; 
    font-size: 16px; 
    border: none; 
    outline: none; 
  }
  
  .search::placeholder{
    font-style: italic; 
  }

  .displayList {
    background-color:white; 
    width: 350px;
    margin: 0px 30px;
    margin-left: auto;
    margin-right: auto; 
  }

  .renderedLi{
    font-family: 'Open Sans', sans-serif;
    background-color: white; 
    width: 85%;
    margin-left: auto; 
    margin-right: auto; 
    list-style-type: none;
    cursor: pointer;
  }

  .firstsection {
    display: flex; 
    background-color: white;
    justify-content: space-between;
    align-items: baseline;
  }

  .firstsection > p:nth-of-type(1){
    background-color: white; 
        font-size: 18px;
        font-weight: bold;
        line-height: 0.2;
  }

  .firstsection > p:nth-of-type(2){
    background-color: white; 
        font-size: 22px;
        font-weight: bold;
        line-height: 0.2;
        text-align: right;
        color: #ff6b6b;
        margin-top: 40px;
        cursor: pointer;
  }

  .renderedLi > p:nth-of-type(1){
    background-color: white; 
      font-size: 16px;
      margin-top: 0px;
      margin-bottom: 0px;
  }

  .lastsection {
    display: flex; 
    background-color: white;
    justify-content: flex-end;
    align-items: baseline;
  }

    .lastsection > p:nth-of-type(1){
    background-color: white; 
    color: gray;
    font-size: 14px;
    font-style: italic;
    line-height: 0;
    text-align: right;
    padding-bottom: 10px;
    padding-right: 15px;
  }

  .lastsection > p:nth-of-type(2){
    background-color: white; 
    font-size: 18px;
    line-height: 0;
    text-align: right;
    padding-bottom: 15px;
  }

  .renderedLi > hr{
    color: #ebebec;
    height: 2px;
    background-color:#ebebec;
    border: none;
  }

